.modal
{
    position: fixed;
    padding: 15px;
    box-shadow: 0px 0px 5px 1px black;
    z-index: 2;
    width: 40%;
    border-radius: 5px;
    background-color: beige;
}

.overlay
{
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: gray;
    opacity: 0.7;
    height: 200vh;
    width: 100vw; 
} 

.body
{
    position: relative;
    width: 100vw;
    height: 200vh;
}